body {
	padding-top: 70px;
}

li {
	font-family: 'Source Sans Pro', sans-serif;
}

#ivyName, #UCName, #oName {
	font-family: 'Oswald', sans-serif;
}

#stand{
 width:100%;
    margin:0 auto;
}

.box{
	float:left;
	width:48%;
	margin: 0 auto;
	height: width;
	background:white;
}