body {
	padding-top: 50px;
}

li {
	font-family: 'Source Sans Pro', sans-serif;
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -40px;
    left: 0;
    visibility: hidden;
}

h1:before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
}
h2:before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
}

#siteTitle{
	font-family: 'Oswald', sans-serif;
	text-align: center;
}

#siteDescription {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 110%; 
	text-align: center;
}

#ivyName, #UCName, #oName, #o2Name{
	font-family: 'Oswald', sans-serif;
}

#stand{
 width:100%;
    margin:0 auto;
}

.box{
	float:left;
	width:48%;
	margin: 0 auto;
	height: width;
	background:white;
}

.dropdown-backdrop {
    position: static;
}